<!--The content below is only a placeholder and can be replaced.-->
<div class="container app">
  <div class="row">
    <div class="col-sm-8">
        <h1 class="text-center">{{title}}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div><br>
  <div class="row">
      <div class="col-sm-4"> 
          <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
      </div>
      <div class="col-sm-8"> 
          <h2 class="text-center">CREACIÓN DE DATOS</h2>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="name" class="control-label col-sm-2">
                  Nombre : 
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Agregue un nuevo nombre">
              </div>
            </div>
            <div class="form-group">
              <label for="position" class="control-label col-sm-2">
                  Cargo : 
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model.position" placeholder="Ingrese un cargo">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="control-label col-sm-2">
                  Email : 
              </label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model.email" placeholder="Ingrese un correo electrónico">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-success" (click)="addEmpleado()">
                  Guardar
                </button>
              </div>
            </div>
          </form>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <h2>Datos Registrados</h2>
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th>Nombre</th>
            <th>Cargo</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empleado of empleados; let i = index">
              <td>{{empleado.name}}</td>
              <td>{{empleado.position}}</td>
              <td>{{empleado.email}}</td>
              <td style="color:white;" class="text-center">
                <a (click)="editEmpleado(i)" class="btn btn-primary">
                  Editar
                </a>
                <a (click)="deleteEmpleado(i)" class="btn btn-danger">
                  Eliminar
                </a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-5" [hidden]="hideUpdate"> 
        <h2 class="text-center">Actualización de Datos</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="control-label col-sm-2">
                Nombre: 
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model_up.name" placeholder="Agregue un nuevo nombre">
            </div>
          </div>
          <div class="form-group">
            <label for="position" class="control-label col-sm-2">
                Cargo: 
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="position" name="position" [(ngModel)]="model_up.position" placeholder="Ingrese un cargo">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="control-label col-sm-2">
                Email: 
            </label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="model_up.email" placeholder="Ingrese un correo electrónico">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary" (click)="updateEmpleado()">
                Guardar
              </button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
